/* ---------------------------------------------------------------------------------------------(-_-) PAYLASIM (-_-)--------------------------------------------------------------- */
.pro{
    width: 10%;
    height: auto;
    display: flex;
    justify-content: end;
}
.paylasim{
    width: 85%;
    height: auto;
}